.wrapper {
    width: 680px;
    margin: 10% auto;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  }
  
  .header {
    background-color: rgba(0, 128, 128, 0.829);
    padding: 5px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .header h2 {
    color: rgb(58, 61, 60);
    margin-left: 107px;
  }
  
  .form-input {
    width: 280px;
    margin: 10px 15px;
    padding: 15px 15px 5px 25px;
    border: 0px solid transparent;
    border-bottom: 1px solid #aaa;
    outline: none;
    transition: 0.3s;
  }
  
  .form-input:focus {
    border-bottom-color: #008080;
    box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
    border-radius: 4px;
  }
  
  .btn {
    width: 250px;
    background-color: #fff;
    color: rgb(58, 61, 60);
    margin-top: 10px;
    border-radius: 30px !important;
    border: 1px solid rgba(0, 128, 128, 0.9) !important;
    transition: 0.3s;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: rgba(0, 128, 128, 0.9);
  }
  
  .footer {
    height: 40px;
    background-color: rgba(0, 128, 128, 0.829);
    padding: 5px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .footer p {
    color: rgb(58, 61, 60);
    margin: auto;
  }
  
  .footer a {
    color: rgb(62, 51, 124);
    text-decoration: underline;
  }
  